.btn {
  color: $grey;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid $white;

  .material-icons {
    font-size: 18px;
  }

  &:hover {
    border: 1px solid $medium-black;
  }
}
